@import "tailwindcss";
@plugin "daisyui";

:root {
  --cardBg: #3751A5;
  --stackBg: #353B50;
}

html {
  background-color: #000319; 
  color: black;
  margin: 2px;
}

.card4 {
  @apply  
    overflow-auto 
    items-center 
    justify-center 
    text-center 
    text-[#eee] 
    rounded-[14px] 
    brightness-[1.1] 
    contrast-[1.1];
    background-color: #4D5599;
    border: 1px solid rgba(255, 255, 255, 0.125); opacity: 1;
}
.card {
  height: 25vh;
  background-color: var(--cardBg);
}

.stackBg {
  background-color: var(--stackBg);
}

.img {
  border: 1px solid rgba(255, 255, 255, 0.644);
  border-radius: 30px;
  margin: 2px;
  height: 12vh;
  width: 11vw;           
  justify-content: center;    
  align-items: center;
  display: flex;
  flex-direction: column;

}
p{
  color: white;
}

